.title {
  font-family: Arial;
  font-size: 24px;
  text-align: center;
}
.subtitle{
  text-align: center;
  font-family: Arial;
  font-size: 12px;
}
.color_picker_container {
    background-color: #888888;
    margin: auto;
    width: 400px;
}

.swatches_container {
  text-align: center;
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #888888;
}

.swatch_container {
  padding: 0px;
  margin: 5px;
  height: 150px;
  width: 120px;
  display: inline-block;
  white-space: pre-wrap;
  background-color: #FFFFFF;
  border-width: 0px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
}

.swatch {
  padding: 0px;
  margin: 0px;
  height: 65%;
  width: 100%;
  display: inline-block;
  white-space: pre-wrap;
  background-color: blue;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  border-radius: 10px 10px 0px 0px;
}

.swatch_label {
  text-align: bottom;
  font-family: Arial;
  font-size: 12px;
  color: #222222;
  border-width: 0px;
  border-style: solid;
  border-color: black;
}

.footer {
  text-align: center;
  font-family: Arial;
  font-size: 10px;
  color:#222222;
  background-color: #888888;
}
